/*this block sets background, and positions it in the center. if background is small does not repeat it*/
body {
  background-image: url('Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*make a box in the middle of the page so that we can put the container in it and draw border for it*/
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*make a container to have two columns in it, position it in center, and draw a border around it*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.85);
}

/*manages left columns, align items to start (left) and also padding*/
.left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}


/*manages right columns, align items to start (left) and also padding*/
.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

/*styles radio buttons*/
.radio-group {
  display: flex;
  align-items: center;
}
/*adds margin to label of radio buttons*/
.radio-group label {
  margin-right: 10px;
}
/*in these four blocks, we just add some space around components*/
input {
  margin: 10px;
}

button{
  margin: 10px;
}

h2 {
  margin: 10px;
}

label{
  margin: 10px;
}
